{#
/**
 * @file
 * Default theme implementation for the Cosmic logo.
 *
 * @ingroup themable
 */
#}
<a href="https://www.cosmic.org.uk" target="_blank" rel="nofollow noopener">
  <svg width="67" height="60" viewBox="0 0 1697 1412" role="img" class="c-cosmic-logo">
    <ellipse rx="693" ry="691" transform="rotate(-167 848.5 706)" cx="848.5" cy="706" class="c-cosmic-logo__halo" />
    <text textLength="1554" x="70" y="820" class="c-cosmic-logo__text">cosmic</text>
    <text textLength="30" x="1617" y="600" class="c-cosmic-logo__text c-cosmic-logo__text--mark">®</text>
  </svg>
</a>
